{% extends 'base.html' %}
    {% block content %}
    <div class="container">
    <div class="row">
        <div class="d-flex justisfy-content-center">
            <form action="" method="post" class="form w-50">
                {% csrf_token %}
                <div class="my-3">
                    <input type="text" name="task" placeholder="Task" class="form-control" value="{{task.task}}">
                </div>
                <div>
                    <input type="text" name="priority" placeholder="priority" class="form-control" value="{{task.priority}}">
                </div>
                <div class="my-3 text-center">
                    <button class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    {% endblock %}
